/* Allgemeines Layout */
body {
        font-family: Arial, sans-serif ;

}

/* Überschrift 1 */ 
H1 {
        text-align: center;
        border: 4px solid black;     /* Erstellt einen Rahmen um die Überschrift */
        border-radius: 10px;
        width: 20%;
        margin: auto;
}

/* Überschrift 2 */
h2 {
        text-align: center;
        border: 4px solid black;     /* Erstellt einen Rahmen um die Überschrift */
        border-radius: 10px;
        width: 16%;
        margin: auto;
}

/* Erster Text */
article {
        text-align: center;
}

/* Kalender-Tabelle */
table {
        border-radius: 10px;            /* Abrundung des Kalenders */ 
        overflow: hidden;               /* Alles was nicht mehr in die Tabellen box passt wird nicht angezeigt */
        width: 50%;                     /* Größe der Tabelle */
        border-collapse: collapse;      /* Verhindert Doppellinien bei aneinanderliegenden Zellen */
        table-layout: fixed;            /* erzwingt gleiche Spaltenbreiten */
        margin: auto;                   /* Zentriert die Tabelle miittig */
        box-shadow:12px 15px 10px rgba(0,0,0,0.3)  /* Erstellt einen Schatten um die Tabelle. 12px = Verschiebung nach links/rechts, 15px = Schatten nach unten, 10px = Unschärfe, 0.2 = Transparenz */
        
}
   

/* Überschriften */ 
th {
        background-color: grey;
        color: whitesmoke;
        padding: 10px;
        border: 1px solid black;
        text-align: center;
}

/* Kalenderzellen */
td {
        background-color: floralwhite;
        height: 80px;
        border: 1px solid black;        /* Linien im Kalender */
        text-align: center;               /* horizontal zentriert */
        vertical-align: middle;           /* vertikal zentriert */
        transition: background-color 0.3s ease,
                    transform 0.2s ease;
}

/* Hover-Effekt */
td:hover {
        background-color: #718297;
        transform: scale(1.03);
        cursor: pointer;
}

/* Samstag */
.samstag {
        color: blue;
        font-weight: bold;
}

/* Sonntag */
.sonntag {
        color: red;
        font-weight: bold;
}

/* Aktueller Tag */
.heute {
        background-color: gold;
        border: 3px solid orange;
        font-weight: bold;
}

ul {
        padding-left: 200px;     /* Abstand nach links von den Stichpunkten */
        margin-top: 40px;        /* Abstand nach Oben */     
}

li {
       margin-bottom: 30px;
}




